.root{
    -fx-background-image: url("../../../../src/main/resources/images/background.jpg");
    /*-fx-background-repeat: no-repeat;
    -fx-background-size: 500 500;
    -fx-background-position: center center;*/
    -fx-background-size: cover;
}